{% extends 'base.html.twig' %}

{% block title %}Magasin index{% endblock %}

{% block body %}
    <h1>Magasin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Matricule</th>
                <th>Location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for magasin in magasins %}
            <tr>
                <td>{{ magasin.id }}</td>
                <td>{{ magasin.name }}</td>
                <td>{{ magasin.matricule }}</td>
                <td>{{ magasin.location }}</td>
                <td>
                    <a href="{{ path('magasin_show', {'id': magasin.id}) }}">show</a>
                    <a href="{{ path('magasin_edit', {'id': magasin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('magasin_new') }}">Create new</a>
{% endblock %}
