{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <h1>Magasin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ magasin.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ magasin.name }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ magasin.matricule }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ magasin.location }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('magasin_index') }}">back to list</a>

    <a href="{{ path('magasin_edit', {'id': magasin.id}) }}">edit</a>

    {{ include('magasin/_delete_form.html.twig') }}
{% endblock %}
